// Body
$body-bg: #f8f8f2;
$primary: #245274;
$secondary: #1b9e91;

// Typography
$font-family-sans-serif: "Ubuntu", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Card
// $card-border-radius: 0rem;
